@model MyFriendsAPP.Models.FriendNomeViewModel;

@{
    ViewData["Title"] = "Index";
}

<h1>Procurar Amigos</h1>
<p>Veja quais são os amigos mais próximos dos seus amigos!</p>

<p>
    <a asp-action="Create">Adicionar Amigo</a>
</p>
<form asp-controller="Friends" asp-action="Index">
   Nome: <select asp-for="FriendNome" asp-items="Model.Nomes">
    </select>
    <input type="submit" value="Buscar"/>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Friends[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Friends[0].Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Friends[0].Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Friends[0].Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Friends[0].Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Friends[0].Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Friends[0].Longitude)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody> 
        @foreach (var item in Model.Friends.Take(3))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Sobre</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
        }
    </tbody>
</table>
